
    .scio{
        margin: 20px;
        border: black;
       box-shadow: rgb(73, 71, 71);
     
    }
    .scio img{
       padding: 30px;
       box-shadow: 0px 23px 46px rgba(0, 0, 0, 0.11);
border-radius: 5px;
margin-left: 100px;
       
    }
    .content{
        display: flex;
        margin-top: 30px;
    
    }
    .pay{
        margin-left: 125px;
    }
    .wise  {
        width: 50%;
        

    }
    /*.scio img:hover{     width:80px; }*/
    
    
    